////////////////////////////////////////////////////////////////////////
// THEME SETUP
////////////////////////////////////////////////////////////////////////

// Fonts (Include fonts here)
$font-primary: 'Tahoma', sans-serif;

// Colors (Define theme main colors)
$white: #FFFFFF;
$light-text: #a3a9ae;
$light-grey: #b0b0b0;
$darker-grey: #ccc;